import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family:"Montserrat", sans-serif;
    margin: 0;
    color: lightgreen;
    }
main .fa{
    font-size: 2em;
    color: #ffffff;
}
.fa{
    font-size: 2em;
    color: #ffc61a;
}
footer.fa,{
    background-color: peachpuff;
    font-size: 2em;
    color: lightblue;
}



h3{
    font-size: 1.5em;
}


/* Website Links except the nav */

a:link{
	color: darkgoldenrod;
}
a:visited{
	color: darkgoldenrod;
}
a:hover{
	color: blue;
}
a:active{
	color: black;
}

header{
    text-align: center;
}
/*Navigation */
nav{
    background-color:#333300;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    padding: 5px;
}
nav ul{
    list-style-type: none;
    text-align: center;
    margin: 8px 0;
    padding: 0;
    
}
nav li {
    display: inline;
    padding: 5px;
}
nav a{
    text-decoration: none;
}
nav a:link{
    color:whitesmoke;
}
nav a:visited{
    color: antiquewhite;
}
nav a:hover{
    color: darkgreen;
}
nav a:active{
    color: darkgoldenrod;
}
/*Main */
main{
    max-width: 1200px;
    margin: 20px auto;
    padding: 19px;
    background: rgb(215,94,38);
    background: radial-gradient(circle, rgba(215,94,38,1) 0%, rgba(116,76,29,1) 4%, rgba(203,96,36,1) 8%, rgba(196,98,34,1) 13%, rgba(163,61,54,1) 21%, rgba(159,56,56,1) 22%, rgba(146,66,49,1) 33%, rgba(140,70,46,1) 38%, rgba(129,78,40,1) 47%, rgba(116,71,29,1) 50%, rgba(124,81,37,1) 51%, rgba(123,82,36,1) 52%, rgba(121,84,35,1) 54%, rgba(65,125,4,1) 100%);
    
}
/* Footer*/
footer{
    border-top: black 3px solid;
    text-align: left;
    background: #333300;
   
    
    color: black;
    font-size: 1em;
    
}
.gallery .preview{
    width: 100%;
    height: auto;
}

.gallery .gallery-thumbnails img {
    width: 100px;
    height: 75px;
    margin: 3px 10px 10px 0;
}

.gallery .gallery-thumbnails img:hover {
    opacity: 0.8;
    cursor: pointer;
}

.gallery .preview img#preview {
    padding: 1px;
    max-width: 100%;
    height: auto;
    margin: 0 auto !important;
    display: block !important;
}

 /*CSS without a media query--applies to all sizes unless overridden*/
h1{
    font-size: 4em;
    color: #333300;
 }
/* CSS Adjustments for Tablets */
@media only screen and (max-width: 1024px) {
	h1{
		font-size: 2em;
    }
}
/* CSS Adjustments for Smartphones */
@media only screen and (max-width: 768px) {
	h1{
		font-size: 1.5em;
	}
}


